<div id="user_profile">

	<div class="sidebar" style="float:right; height:100%">
		<strong>Name			</strong> 
			<%= @user.name %><br>
		<strong>URL				</strong> 
			<%= link_to user_path(@user), @user %><br>
		<strong>Favorites	</strong> 
			<%= (@user.id == current_user.id) ? (render 'layouts/user_stat') : (@user.favorites.count) %><br>
	</div>	

	<div id="user_favorites">
		<h1>
			<%= (@user.id == current_user.id) ? "You have " : (@user.username + " has ") %>
			<%= (@user.id == current_user.id) ? (render 'layouts/user_stat') : (@user.favorites.count) %> favorites.
		</h1>
		<table>
			<% @user.favorites.each do |book| %>
			<% @book = book %>
			<tr>
				<td>
					<%= link_to book.title, book_path(book)%>
				</td>
				<td rowspan="2"><%= render 'layouts/favorite_form' if user_signed_in?%>
				<br>(<%= render 'layouts/book_stat'%> fans )</td>
			</tr>
			<tr>
				<td>By <%= book.author %></td>
			</tr>
			<%end%>
		</table>
	</div>
</div>
