<div id="footer-wrap">
	<div id="footer-container">
		<div id="footer">
			Signed in as <%= link_to current_user.name, user_path(current_user) %> (
			<%= link_to current_user.username, user_path(current_user) %>) 
			with <%= 	render 'layouts/user_stat' %> favorites. 
			| <%= link_to "Edit profile", '/users/edit' %> | 
			| <%= link_to "Sign Out", '/signout'%> |
			<span id="footer_message"></span>
		</div>
	</div>
</div>

