<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= link_to current_user.name, user_path(current_user) %> 
    (<%= link_to current_user.username, user_path(current_user)%>). 
    You have <%= render 'layouts/user_stat' %> favorites. Not you?
    <%= link_to "Sign Out", "/signout" %>
  <% else %>
    <%= link_to "Sign In", "/signin" %> or <%= link_to "Sign Up", "/signup" %>
  <% end %>
</div>

<div id="notifications">
	<p class="notice"><% notice %></p>
	<p class="alert" ><% alert  %></p>
</div>

<%= yield %>

</body>
</html>
